{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "es": {
      "comments": false
    },
    "commonjs": {
      "comments": false
    },
    "test": {
      "plugins": [
        ["module-resolver", {
         "root": ["./src"]
       }]
      ]
    }
  }
}
