{
  "extends": "@jedmao/semantic-release-npm-github-config",
  "branches": [
    { "name": "master" },
    { "name": "next", channel: "next", "prerelease": "alpha" },
    { "name": "next-major", channel: "alpha", "prerelease": "alpha" },
  ]
}